files/dashboard-flows.json
[{"id":"48982298.a5e65c","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"e637f9f6.a87208","type":"websocket in","z":"48982298.a5e65c","name":"","server":"fcc0885b.d38528","client":"","x":190,"y":380,"wires":[["334e1731.257b98"]]},{"id":"334e1731.257b98","type":"json","z":"48982298.a5e65c","name":"","property":"payload","action":"obj","pretty":false,"x":430,"y":380,"wires":[["8afb2e90.12cb28","58596146.eb9f1","2f28c5f2.1f7e82","4792c566.8132f4","a27c8afb.599b8","4b37b52a.73d924","1a5484de.982d23","7824c23b.de0424"]]},{"id":"8afb2e90.12cb28","type":"function","z":"48982298.a5e65c","name":"IsLabeler_1?","func":"if (msg.payload.device === \"labeler_1\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":160,"wires":[["93146890.7fea8","279ebd7b.25f0d2"]]},{"id":"aa947744.ae9608","type":"debug","z":"48982298.a5e65c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":440,"wires":[]},{"id":"963c55c2.0dae88","type":"ui_gauge","z":"48982298.a5e65c","name":"","group":"ae09560c.381b8","order":1,"width":4,"height":3,"gtype":"gage","title":"{{msg.topic}}","label":"temp","format":"{{msg.value| number:1}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1110,"y":100,"wires":[]},{"id":"17c0bc65.95305c","type":"comment","z":"48982298.a5e65c","name":"Labeler Section","info":"Labeler Section","x":640,"y":60,"wires":[]},{"id":"93146890.7fea8","type":"function","z":"48982298.a5e65c","name":"SendTemp","func":"var msgdata = {};\n\nmsg.topic = msg.payload.device;\nmsg.value = msg.payload.data;\n\nreturn {value:msg.value,topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":100,"wires":[["963c55c2.0dae88"]]},{"id":"4872754e.91b564","type":"ui_chart","z":"48982298.a5e65c","name":"","group":"ae09560c.381b8","order":11,"width":0,"height":0,"label":"Labeler Overview","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1290,"y":360,"wires":[[]]},{"id":"279ebd7b.25f0d2","type":"function","z":"48982298.a5e65c","name":"SendTimeOverview","func":"var m = [\n    {label:msg.payload.device, payload:msg.payload.data, series:msg.payload.device}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":300,"wires":[["ca96db7c.82ea6"]]},{"id":"58596146.eb9f1","type":"function","z":"48982298.a5e65c","name":"IsLabeler_2?","func":"if (msg.payload.device === \"labeler_2\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":200,"wires":[["db74dd88.ec71a8","d80b74a3.92ecf"]]},{"id":"db74dd88.ec71a8","type":"function","z":"48982298.a5e65c","name":"SendTemp","func":"var msgdata = {};\n\nmsg.topic = msg.payload.device;\nmsg.value = msg.payload.data;\n\nreturn {value:msg.value,topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":140,"wires":[["d952a6b4.329b88"]]},{"id":"d952a6b4.329b88","type":"ui_gauge","z":"48982298.a5e65c","name":"","group":"ae09560c.381b8","order":3,"width":4,"height":3,"gtype":"gage","title":"{{msg.topic}}","label":"temp","format":"{{msg.value| number:1}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1110,"y":140,"wires":[]},{"id":"d80b74a3.92ecf","type":"function","z":"48982298.a5e65c","name":"SendTimeOverview","func":"var m = [\n    {label:msg.payload.device, payload:msg.payload.data, series:msg.payload.device}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":340,"wires":[["ca96db7c.82ea6"]]},{"id":"2f28c5f2.1f7e82","type":"function","z":"48982298.a5e65c","name":"IsLabeler_3?","func":"if (msg.payload.device === \"labeler_3\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":240,"wires":[["11abcddc.b3cef2","25b1d190.b92d5e"]]},{"id":"11abcddc.b3cef2","type":"function","z":"48982298.a5e65c","name":"SendTemp","func":"var msgdata = {};\n\nmsg.topic = msg.payload.device;\nmsg.value = msg.payload.data;\n\nreturn {value:msg.value,topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":180,"wires":[["f621393b.831a58"]]},{"id":"f621393b.831a58","type":"ui_gauge","z":"48982298.a5e65c","name":"","group":"ae09560c.381b8","order":6,"width":4,"height":3,"gtype":"gage","title":"{{msg.topic}}","label":"temp","format":"{{msg.value| number:1}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1110,"y":180,"wires":[]},{"id":"25b1d190.b92d5e","type":"function","z":"48982298.a5e65c","name":"SendTimeOverview","func":"var m = [\n    {label:msg.payload.device, payload:msg.payload.data, series:msg.payload.device}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":380,"wires":[["ca96db7c.82ea6"]]},{"id":"4792c566.8132f4","type":"function","z":"48982298.a5e65c","name":"IsLabeler_4?","func":"if (msg.payload.device === \"labeler_4\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":280,"wires":[["6de06a3b.13f974","94b30054.8e6458"]]},{"id":"6de06a3b.13f974","type":"function","z":"48982298.a5e65c","name":"SendTemp","func":"var msgdata = {};\n\nmsg.topic = msg.payload.device;\nmsg.value = msg.payload.data;\n\nreturn {value:msg.value,topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":220,"wires":[["2a7bc961.0b59ae"]]},{"id":"2a7bc961.0b59ae","type":"ui_gauge","z":"48982298.a5e65c","name":"","group":"ae09560c.381b8","order":8,"width":4,"height":3,"gtype":"gage","title":"{{msg.topic}}","label":"temp","format":"{{msg.value| number:1}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1110,"y":220,"wires":[]},{"id":"94b30054.8e6458","type":"function","z":"48982298.a5e65c","name":"SendTimeOverview","func":"var m = [\n    {label:msg.payload.device, payload:msg.payload.data, series:msg.payload.device}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":420,"wires":[["ca96db7c.82ea6"]]},{"id":"ca96db7c.82ea6","type":"delay","z":"48982298.a5e65c","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":360,"wires":[["4872754e.91b564"]]},{"id":"bcf15c56.47ce98","type":"ui_button","z":"48982298.a5e65c","name":"","group":"ae09560c.381b8","order":11,"width":0,"height":0,"passthru":false,"label":"Clear Overview","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","topicType":"str","x":1280,"y":300,"wires":[["4872754e.91b564"]]},{"id":"a27c8afb.599b8","type":"function","z":"48982298.a5e65c","name":"IsFiller_1?","func":"if (msg.payload.device === \"filler_1\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":580,"wires":[["dcd4cc35.13d928","67a14789.edd69"]]},{"id":"a34ae492.08f7e8","type":"debug","z":"48982298.a5e65c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":860,"wires":[]},{"id":"818da58d.4064c8","type":"ui_gauge","z":"48982298.a5e65c","name":"","group":"658048b0.0e2c3","order":1,"width":4,"height":3,"gtype":"gage","title":"{{msg.topic}}","label":"temp","format":"{{msg.value| number:1}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1110,"y":520,"wires":[]},{"id":"99af9bcd.755158","type":"comment","z":"48982298.a5e65c","name":"Filler Section","info":"Labeler Section","x":630,"y":480,"wires":[]},{"id":"dcd4cc35.13d928","type":"function","z":"48982298.a5e65c","name":"SendTemp","func":"var msgdata = {};\n\nmsg.topic = msg.payload.device;\nmsg.value = msg.payload.data;\n\nreturn {value:msg.value,topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":520,"wires":[["818da58d.4064c8"]]},{"id":"1b28e403.caae94","type":"ui_chart","z":"48982298.a5e65c","name":"","group":"658048b0.0e2c3","order":11,"width":0,"height":0,"label":"Labeler Overview","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1290,"y":780,"wires":[[]]},{"id":"67a14789.edd69","type":"function","z":"48982298.a5e65c","name":"SendTimeOverview","func":"var m = [\n    {label:msg.payload.device, payload:msg.payload.data, series:msg.payload.device}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":720,"wires":[["90cadcea.34d268"]]},{"id":"4b37b52a.73d924","type":"function","z":"48982298.a5e65c","name":"IsFiller_2?","func":"if (msg.payload.device === \"filler_2\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":620,"wires":[["a9ec767a.50135","b0655ccb.808cd"]]},{"id":"a9ec767a.50135","type":"function","z":"48982298.a5e65c","name":"SendTemp","func":"var msgdata = {};\n\nmsg.topic = msg.payload.device;\nmsg.value = msg.payload.data;\n\nreturn {value:msg.value,topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":560,"wires":[["97c61a02.c392e8"]]},{"id":"97c61a02.c392e8","type":"ui_gauge","z":"48982298.a5e65c","name":"","group":"658048b0.0e2c3","order":3,"width":4,"height":3,"gtype":"gage","title":"{{msg.topic}}","label":"temp","format":"{{msg.value| number:1}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1110,"y":560,"wires":[]},{"id":"b0655ccb.808cd","type":"function","z":"48982298.a5e65c","name":"SendTimeOverview","func":"var m = [\n    {label:msg.payload.device, payload:msg.payload.data, series:msg.payload.device}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":760,"wires":[["90cadcea.34d268"]]},{"id":"1a5484de.982d23","type":"function","z":"48982298.a5e65c","name":"IsFiller_3?","func":"if (msg.payload.device === \"filler_3\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":660,"wires":[["cbbe85cc.d87fe","2b941440.cb7464"]]},{"id":"cbbe85cc.d87fe","type":"function","z":"48982298.a5e65c","name":"SendTemp","func":"var msgdata = {};\n\nmsg.topic = msg.payload.device;\nmsg.value = msg.payload.data;\n\nreturn {value:msg.value,topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":600,"wires":[["211338e2.026588"]]},{"id":"211338e2.026588","type":"ui_gauge","z":"48982298.a5e65c","name":"","group":"658048b0.0e2c3","order":6,"width":4,"height":3,"gtype":"gage","title":"{{msg.topic}}","label":"temp","format":"{{msg.value| number:1}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1110,"y":600,"wires":[]},{"id":"2b941440.cb7464","type":"function","z":"48982298.a5e65c","name":"SendTimeOverview","func":"var m = [\n    {label:msg.payload.device, payload:msg.payload.data, series:msg.payload.device}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":800,"wires":[["90cadcea.34d268"]]},{"id":"7824c23b.de0424","type":"function","z":"48982298.a5e65c","name":"IsFiller_4?","func":"if (msg.payload.device === \"filler_4\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":700,"wires":[["2dd3f4d6.301be4","d2f8bdf3.488c38"]]},{"id":"2dd3f4d6.301be4","type":"function","z":"48982298.a5e65c","name":"SendTemp","func":"var msgdata = {};\n\nmsg.topic = msg.payload.device;\nmsg.value = msg.payload.data;\n\nreturn {value:msg.value,topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":640,"wires":[["9564d095.72c1c"]]},{"id":"9564d095.72c1c","type":"ui_gauge","z":"48982298.a5e65c","name":"","group":"658048b0.0e2c3","order":8,"width":4,"height":3,"gtype":"gage","title":"{{msg.topic}}","label":"temp","format":"{{msg.value| number:1}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1110,"y":640,"wires":[]},{"id":"d2f8bdf3.488c38","type":"function","z":"48982298.a5e65c","name":"SendTimeOverview","func":"var m = [\n    {label:msg.payload.device, payload:msg.payload.data, series:msg.payload.device}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":840,"wires":[["90cadcea.34d268"]]},{"id":"90cadcea.34d268","type":"delay","z":"48982298.a5e65c","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":780,"wires":[["1b28e403.caae94"]]},{"id":"c41a00ec.b58af8","type":"ui_button","z":"48982298.a5e65c","name":"","group":"658048b0.0e2c3","order":11,"width":0,"height":0,"passthru":false,"label":"Clear Overview","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","topicType":"str","x":1280,"y":720,"wires":[["1b28e403.caae94"]]},{"id":"fcc0885b.d38528","type":"websocket-listener","path":"ws://masternode.showcase","wholemsg":"false"},{"id":"ae09560c.381b8","type":"ui_group","name":"Labeler","tab":"a466f93d.c6c1e","order":1,"disp":true,"width":9,"collapse":false},{"id":"658048b0.0e2c3","type":"ui_group","name":"Filler","tab":"a466f93d.c6c1e","order":2,"disp":true,"width":9,"collapse":false},{"id":"a466f93d.c6c1e","type":"ui_tab","name":"Krones Cloud Observer","icon":"dashboard","order":1,"disabled":false,"hidden":false}]