files/dashboard-flows.json
[{"id":"48982298.a5e65c","type":"tab","label":"DASHBOARD","disabled":false,"info":""},{"id":"fcc0885b.d38528","type":"websocket-listener","path":"ws://masternode.showcase","wholemsg":"false"},{"id":"ae09560c.381b8","type":"ui_group","name":"Labeler","tab":"a466f93d.c6c1e","order":1,"disp":true,"width":9,"collapse":false},{"id":"658048b0.0e2c3","type":"ui_group","name":"Filler","tab":"a466f93d.c6c1e","order":2,"disp":true,"width":9,"collapse":false},{"id":"a466f93d.c6c1e","type":"ui_tab","name":"Krones Cloud Observer","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"8ddb9b91.99be38","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"97891fbe.f99fb8","type":"ui_group","name":"Packer","tab":"a466f93d.c6c1e","order":3,"disp":true,"width":9,"collapse":false},{"id":"c4d806f8.24f24","type":"ui_spacer","name":"spacer","group":"ae09560c.381b8","order":3,"width":1,"height":1},{"id":"cf571beb.c26d2","type":"ui_spacer","name":"spacer","group":"ae09560c.381b8","order":4,"width":1,"height":1},{"id":"2c5aac82.21d8ac","type":"ui_spacer","name":"spacer","group":"ae09560c.381b8","order":5,"width":1,"height":1},{"id":"417eafc5.e63ff8","type":"ui_spacer","name":"spacer","group":"ae09560c.381b8","order":8,"width":1,"height":1},{"id":"5827326f.4caf94","type":"ui_spacer","name":"spacer","group":"ae09560c.381b8","order":9,"width":1,"height":1},{"id":"f57d7df8.5927b","type":"ui_spacer","name":"spacer","group":"ae09560c.381b8","order":10,"width":1,"height":1},{"id":"7e4b8564.9de9fc","type":"ui_spacer","name":"spacer","group":"658048b0.0e2c3","order":3,"width":1,"height":1},{"id":"8dc0eeb6.586708","type":"ui_spacer","name":"spacer","group":"658048b0.0e2c3","order":4,"width":1,"height":1},{"id":"5ae04a4f.d8b37c","type":"ui_spacer","name":"spacer","group":"658048b0.0e2c3","order":5,"width":1,"height":1},{"id":"67e24ef0.3c1a78","type":"ui_spacer","name":"spacer","group":"658048b0.0e2c3","order":8,"width":1,"height":1},{"id":"3240d3ba.85ce9c","type":"ui_spacer","name":"spacer","group":"658048b0.0e2c3","order":9,"width":1,"height":1},{"id":"82b15a4f.89576","type":"ui_spacer","name":"spacer","group":"658048b0.0e2c3","order":10,"width":1,"height":1},{"id":"6d2c230e.a8744c","type":"ui_spacer","name":"spacer","group":"97891fbe.f99fb8","order":2,"width":1,"height":1},{"id":"1fee2f33.6f6389","type":"ui_spacer","name":"spacer","group":"97891fbe.f99fb8","order":4,"width":1,"height":1},{"id":"6ccdcc3c.c341e4","type":"ui_spacer","name":"spacer","group":"97891fbe.f99fb8","order":5,"width":1,"height":1},{"id":"e48ac758.43ec98","type":"ui_spacer","name":"spacer","group":"97891fbe.f99fb8","order":7,"width":1,"height":1},{"id":"a223e658.52d008","type":"ui_spacer","name":"spacer","group":"97891fbe.f99fb8","order":9,"width":1,"height":1},{"id":"19e97bdd.baa8ec","type":"ui_spacer","name":"spacer","group":"97891fbe.f99fb8","order":10,"width":1,"height":1},{"id":"e637f9f6.a87208","type":"websocket in","z":"48982298.a5e65c","name":"","server":"fcc0885b.d38528","client":"","x":210,"y":880,"wires":[["334e1731.257b98"]]},{"id":"334e1731.257b98","type":"json","z":"48982298.a5e65c","name":"","property":"payload","action":"obj","pretty":false,"x":450,"y":880,"wires":[["8afb2e90.12cb28","58596146.eb9f1","2f28c5f2.1f7e82","4792c566.8132f4","a27c8afb.599b8","4b37b52a.73d924","1a5484de.982d23","7824c23b.de0424","c5b443a8.811e18","8387edaa.f9dbf","4f0f8cd4.a6166c","c613ddbe.17a758"]]},{"id":"8afb2e90.12cb28","type":"function","z":"48982298.a5e65c","name":"IsLabeler_1?","func":"if (msg.payload.device === \"labeler_1\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":340,"wires":[["93146890.7fea8","279ebd7b.25f0d2"]]},{"id":"963c55c2.0dae88","type":"ui_gauge","z":"48982298.a5e65c","name":"","group":"ae09560c.381b8","order":1,"width":4,"height":3,"gtype":"gage","title":"{{msg.topic}}","label":"temp","format":"{{msg.value| number:1}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1130,"y":280,"wires":[]},{"id":"17c0bc65.95305c","type":"comment","z":"48982298.a5e65c","name":"Labeler Section","info":"Labeler Section","x":660,"y":240,"wires":[]},{"id":"93146890.7fea8","type":"function","z":"48982298.a5e65c","name":"SendTemp","func":"var msgdata = {};\n\nmsg.topic = msg.payload.device;\nmsg.value = msg.payload.data;\n\nreturn {value:msg.value,topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":280,"wires":[["963c55c2.0dae88"]]},{"id":"4872754e.91b564","type":"ui_chart","z":"48982298.a5e65c","name":"","group":"ae09560c.381b8","order":11,"width":0,"height":0,"label":"Labeler Overview","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1310,"y":540,"wires":[[]]},{"id":"279ebd7b.25f0d2","type":"function","z":"48982298.a5e65c","name":"SendTimeOverview","func":"var m = [\n    {label:msg.payload.device, payload:msg.payload.data, series:msg.payload.device}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":480,"wires":[["4872754e.91b564"]]},{"id":"58596146.eb9f1","type":"function","z":"48982298.a5e65c","name":"IsLabeler_2?","func":"if (msg.payload.device === \"labeler_2\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":380,"wires":[["db74dd88.ec71a8","d80b74a3.92ecf"]]},{"id":"db74dd88.ec71a8","type":"function","z":"48982298.a5e65c","name":"SendTemp","func":"var msgdata = {};\n\nmsg.topic = msg.payload.device;\nmsg.value = msg.payload.data;\n\nreturn {value:msg.value,topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":320,"wires":[["d952a6b4.329b88"]]},{"id":"d952a6b4.329b88","type":"ui_gauge","z":"48982298.a5e65c","name":"","group":"ae09560c.381b8","order":2,"width":4,"height":3,"gtype":"gage","title":"{{msg.topic}}","label":"temp","format":"{{msg.value| number:1}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1130,"y":320,"wires":[]},{"id":"d80b74a3.92ecf","type":"function","z":"48982298.a5e65c","name":"SendTimeOverview","func":"var m = [\n    {label:msg.payload.device, payload:msg.payload.data, series:msg.payload.device}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":520,"wires":[["4872754e.91b564"]]},{"id":"2f28c5f2.1f7e82","type":"function","z":"48982298.a5e65c","name":"IsLabeler_3?","func":"if (msg.payload.device === \"labeler_3\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":420,"wires":[["11abcddc.b3cef2","25b1d190.b92d5e"]]},{"id":"11abcddc.b3cef2","type":"function","z":"48982298.a5e65c","name":"SendTemp","func":"var msgdata = {};\n\nmsg.topic = msg.payload.device;\nmsg.value = msg.payload.data;\n\nreturn {value:msg.value,topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":360,"wires":[["f621393b.831a58"]]},{"id":"f621393b.831a58","type":"ui_gauge","z":"48982298.a5e65c","name":"","group":"ae09560c.381b8","order":6,"width":4,"height":3,"gtype":"gage","title":"{{msg.topic}}","label":"temp","format":"{{msg.value| number:1}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1130,"y":360,"wires":[]},{"id":"25b1d190.b92d5e","type":"function","z":"48982298.a5e65c","name":"SendTimeOverview","func":"var m = [\n    {label:msg.payload.device, payload:msg.payload.data, series:msg.payload.device}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":560,"wires":[["4872754e.91b564"]]},{"id":"4792c566.8132f4","type":"function","z":"48982298.a5e65c","name":"IsLabeler_4?","func":"if (msg.payload.device === \"labeler_4\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":460,"wires":[["6de06a3b.13f974","94b30054.8e6458"]]},{"id":"6de06a3b.13f974","type":"function","z":"48982298.a5e65c","name":"SendTemp","func":"var msgdata = {};\n\nmsg.topic = msg.payload.device;\nmsg.value = msg.payload.data;\n\nreturn {value:msg.value,topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":400,"wires":[["2a7bc961.0b59ae"]]},{"id":"2a7bc961.0b59ae","type":"ui_gauge","z":"48982298.a5e65c","name":"","group":"ae09560c.381b8","order":7,"width":4,"height":3,"gtype":"gage","title":"{{msg.topic}}","label":"temp","format":"{{msg.value| number:1}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1130,"y":400,"wires":[]},{"id":"94b30054.8e6458","type":"function","z":"48982298.a5e65c","name":"SendTimeOverview","func":"var m = [\n    {label:msg.payload.device, payload:msg.payload.data, series:msg.payload.device}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":600,"wires":[["4872754e.91b564"]]},{"id":"bcf15c56.47ce98","type":"ui_button","z":"48982298.a5e65c","name":"","group":"ae09560c.381b8","order":12,"width":0,"height":0,"passthru":false,"label":"Clear Overview","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","topicType":"str","x":1300,"y":480,"wires":[["4872754e.91b564"]]},{"id":"a27c8afb.599b8","type":"function","z":"48982298.a5e65c","name":"IsFiller_1?","func":"if (msg.payload.device === \"filler_1\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":820,"wires":[["dcd4cc35.13d928","67a14789.edd69"]]},{"id":"818da58d.4064c8","type":"ui_gauge","z":"48982298.a5e65c","name":"","group":"658048b0.0e2c3","order":1,"width":4,"height":3,"gtype":"gage","title":"{{msg.topic}}","label":"temp","format":"{{msg.value| number:1}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1130,"y":760,"wires":[]},{"id":"99af9bcd.755158","type":"comment","z":"48982298.a5e65c","name":"Filler Section","info":"Labeler Section","x":650,"y":720,"wires":[]},{"id":"dcd4cc35.13d928","type":"function","z":"48982298.a5e65c","name":"SendTemp","func":"var msgdata = {};\n\nmsg.topic = msg.payload.device;\nmsg.value = msg.payload.data;\n\nreturn {value:msg.value,topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":760,"wires":[["818da58d.4064c8"]]},{"id":"1b28e403.caae94","type":"ui_chart","z":"48982298.a5e65c","name":"","group":"658048b0.0e2c3","order":11,"width":0,"height":0,"label":"Labeler Overview","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1310,"y":1020,"wires":[[]]},{"id":"67a14789.edd69","type":"function","z":"48982298.a5e65c","name":"SendTimeOverview","func":"var m = [\n    {label:msg.payload.device, payload:msg.payload.data, series:msg.payload.device}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":960,"wires":[["1b28e403.caae94"]]},{"id":"4b37b52a.73d924","type":"function","z":"48982298.a5e65c","name":"IsFiller_2?","func":"if (msg.payload.device === \"filler_2\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":860,"wires":[["a9ec767a.50135","b0655ccb.808cd"]]},{"id":"a9ec767a.50135","type":"function","z":"48982298.a5e65c","name":"SendTemp","func":"var msgdata = {};\n\nmsg.topic = msg.payload.device;\nmsg.value = msg.payload.data;\n\nreturn {value:msg.value,topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":800,"wires":[["97c61a02.c392e8"]]},{"id":"97c61a02.c392e8","type":"ui_gauge","z":"48982298.a5e65c","name":"","group":"658048b0.0e2c3","order":2,"width":4,"height":3,"gtype":"gage","title":"{{msg.topic}}","label":"temp","format":"{{msg.value| number:1}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1130,"y":800,"wires":[]},{"id":"b0655ccb.808cd","type":"function","z":"48982298.a5e65c","name":"SendTimeOverview","func":"var m = [\n    {label:msg.payload.device, payload:msg.payload.data, series:msg.payload.device}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1000,"wires":[["1b28e403.caae94"]]},{"id":"1a5484de.982d23","type":"function","z":"48982298.a5e65c","name":"IsFiller_3?","func":"if (msg.payload.device === \"filler_3\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":900,"wires":[["cbbe85cc.d87fe","2b941440.cb7464"]]},{"id":"cbbe85cc.d87fe","type":"function","z":"48982298.a5e65c","name":"SendTemp","func":"var msgdata = {};\n\nmsg.topic = msg.payload.device;\nmsg.value = msg.payload.data;\n\nreturn {value:msg.value,topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":840,"wires":[["211338e2.026588"]]},{"id":"211338e2.026588","type":"ui_gauge","z":"48982298.a5e65c","name":"","group":"658048b0.0e2c3","order":6,"width":4,"height":3,"gtype":"gage","title":"{{msg.topic}}","label":"temp","format":"{{msg.value| number:1}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1130,"y":840,"wires":[]},{"id":"2b941440.cb7464","type":"function","z":"48982298.a5e65c","name":"SendTimeOverview","func":"var m = [\n    {label:msg.payload.device, payload:msg.payload.data, series:msg.payload.device}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1040,"wires":[["1b28e403.caae94"]]},{"id":"7824c23b.de0424","type":"function","z":"48982298.a5e65c","name":"IsFiller_4?","func":"if (msg.payload.device === \"filler_4\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":940,"wires":[["2dd3f4d6.301be4","d2f8bdf3.488c38"]]},{"id":"2dd3f4d6.301be4","type":"function","z":"48982298.a5e65c","name":"SendTemp","func":"var msgdata = {};\n\nmsg.topic = msg.payload.device;\nmsg.value = msg.payload.data;\n\nreturn {value:msg.value,topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":880,"wires":[["9564d095.72c1c"]]},{"id":"9564d095.72c1c","type":"ui_gauge","z":"48982298.a5e65c","name":"","group":"658048b0.0e2c3","order":7,"width":4,"height":3,"gtype":"gage","title":"{{msg.topic}}","label":"temp","format":"{{msg.value| number:1}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1130,"y":880,"wires":[]},{"id":"d2f8bdf3.488c38","type":"function","z":"48982298.a5e65c","name":"SendTimeOverview","func":"var m = [\n    {label:msg.payload.device, payload:msg.payload.data, series:msg.payload.device}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1080,"wires":[["1b28e403.caae94"]]},{"id":"c41a00ec.b58af8","type":"ui_button","z":"48982298.a5e65c","name":"","group":"658048b0.0e2c3","order":12,"width":0,"height":0,"passthru":false,"label":"Clear Overview","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","topicType":"str","x":1300,"y":960,"wires":[["1b28e403.caae94"]]},{"id":"c5b443a8.811e18","type":"function","z":"48982298.a5e65c","name":"IsPacker_1?","func":"if (msg.payload.device === \"packer_1\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1260,"wires":[["d8d7d307.a419b8","593a2d60.748e74"]]},{"id":"11bfab93.530834","type":"ui_gauge","z":"48982298.a5e65c","name":"","group":"97891fbe.f99fb8","order":1,"width":4,"height":3,"gtype":"gage","title":"{{msg.topic}}","label":"temp","format":"{{msg.value| number:1}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1130,"y":1200,"wires":[]},{"id":"23cf0c0d.fdebf4","type":"comment","z":"48982298.a5e65c","name":"Packer Section","info":"Packer Section","x":660,"y":1160,"wires":[]},{"id":"d8d7d307.a419b8","type":"function","z":"48982298.a5e65c","name":"SendTemp","func":"var msgdata = {};\n\nmsg.topic = msg.payload.device;\nmsg.value = msg.payload.data;\n\nreturn {value:msg.value,topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":1200,"wires":[["11bfab93.530834"]]},{"id":"afd5d96c.b8948","type":"ui_chart","z":"48982298.a5e65c","name":"","group":"97891fbe.f99fb8","order":11,"width":0,"height":0,"label":"Labeler Overview","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1310,"y":1460,"wires":[[]]},{"id":"593a2d60.748e74","type":"function","z":"48982298.a5e65c","name":"SendTimeOverview","func":"var m = [\n    {label:msg.payload.device, payload:msg.payload.data, series:msg.payload.device}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1400,"wires":[["afd5d96c.b8948"]]},{"id":"8387edaa.f9dbf","type":"function","z":"48982298.a5e65c","name":"IsPacker_2?","func":"if (msg.payload.device === \"packer_2\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1300,"wires":[["7b890761.c5b7f8","a275c115.2cce4"]]},{"id":"7b890761.c5b7f8","type":"function","z":"48982298.a5e65c","name":"SendTemp","func":"var msgdata = {};\n\nmsg.topic = msg.payload.device;\nmsg.value = msg.payload.data;\n\nreturn {value:msg.value,topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":1240,"wires":[["4e54f587.ff5814"]]},{"id":"4e54f587.ff5814","type":"ui_gauge","z":"48982298.a5e65c","name":"","group":"97891fbe.f99fb8","order":3,"width":4,"height":3,"gtype":"gage","title":"{{msg.topic}}","label":"temp","format":"{{msg.value| number:1}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1130,"y":1240,"wires":[]},{"id":"a275c115.2cce4","type":"function","z":"48982298.a5e65c","name":"SendTimeOverview","func":"var m = [\n    {label:msg.payload.device, payload:msg.payload.data, series:msg.payload.device}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1440,"wires":[["afd5d96c.b8948"]]},{"id":"4f0f8cd4.a6166c","type":"function","z":"48982298.a5e65c","name":"IsPacker_3?","func":"if (msg.payload.device === \"packer_3\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1340,"wires":[["86b3fdf4.f227f8","3d950ef0.ecfe52"]]},{"id":"86b3fdf4.f227f8","type":"function","z":"48982298.a5e65c","name":"SendTemp","func":"var msgdata = {};\n\nmsg.topic = msg.payload.device;\nmsg.value = msg.payload.data;\n\nreturn {value:msg.value,topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":1280,"wires":[["c2196851.a9a8"]]},{"id":"c2196851.a9a8","type":"ui_gauge","z":"48982298.a5e65c","name":"","group":"97891fbe.f99fb8","order":6,"width":4,"height":3,"gtype":"gage","title":"{{msg.topic}}","label":"temp","format":"{{msg.value| number:1}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1130,"y":1280,"wires":[]},{"id":"3d950ef0.ecfe52","type":"function","z":"48982298.a5e65c","name":"SendTimeOverview","func":"var m = [\n    {label:msg.payload.device, payload:msg.payload.data, series:msg.payload.device}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1480,"wires":[["afd5d96c.b8948"]]},{"id":"c613ddbe.17a758","type":"function","z":"48982298.a5e65c","name":"IsPacker_4?","func":"if (msg.payload.device === \"packer_4\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1380,"wires":[["32c0d90.15540a8","bcaacd1c.44493"]]},{"id":"32c0d90.15540a8","type":"function","z":"48982298.a5e65c","name":"SendTemp","func":"var msgdata = {};\n\nmsg.topic = msg.payload.device;\nmsg.value = msg.payload.data;\n\nreturn {value:msg.value,topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":1320,"wires":[["97df4df0.aca228"]]},{"id":"97df4df0.aca228","type":"ui_gauge","z":"48982298.a5e65c","name":"","group":"97891fbe.f99fb8","order":8,"width":4,"height":3,"gtype":"gage","title":"{{msg.topic}}","label":"temp","format":"{{msg.value| number:1}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1130,"y":1320,"wires":[]},{"id":"bcaacd1c.44493","type":"function","z":"48982298.a5e65c","name":"SendTimeOverview","func":"var m = [\n    {label:msg.payload.device, payload:msg.payload.data, series:msg.payload.device}\n    ];\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1520,"wires":[["afd5d96c.b8948"]]},{"id":"147b4426.ea4ffc","type":"ui_button","z":"48982298.a5e65c","name":"","group":"97891fbe.f99fb8","order":12,"width":0,"height":0,"passthru":false,"label":"Clear Overview","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","topicType":"str","x":1300,"y":1400,"wires":[["afd5d96c.b8948"]]}]