files/filler-flows.json
[{"id":"927d0882.9d2848","type":"tab","label":"FILLER","disabled":false,"info":""},{"id":"1d8ad839.82af58","type":"websocket out","z":"927d0882.9d2848","name":"","server":"","client":"b62e3215.3931f8","x":790,"y":400,"wires":[]},{"id":"e5ead654.e34828","type":"inject","z":"927d0882.9d2848","name":"filler_data_1","props":[{"p":"device","v":"filler_1","vt":"str"},{"p":"payload"},{"p":"timestamp","v":"","vt":"date"},{"p":"IPaddress","v":"10.9.4.1","vt":"str"},{"p":"data","v":"($random() * 30) + 20","vt":"jsonata"}],"repeat":"4","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"hearthbeat","payloadType":"msg","x":400,"y":360,"wires":[["1d8ad839.82af58"]]},{"id":"5de3921e.dbecdc","type":"inject","z":"927d0882.9d2848","name":"filler_data_2","props":[{"p":"device","v":"filler_2","vt":"str"},{"p":"payload"},{"p":"timestamp","v":"","vt":"date"},{"p":"IPaddress","v":"10.9.4.2","vt":"str"},{"p":"data","v":"($random() * 30) +20\t","vt":"jsonata"}],"repeat":"4","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"hearthbeat","payloadType":"msg","x":400,"y":400,"wires":[["1d8ad839.82af58"]]},{"id":"cebb56f.65fc1a8","type":"inject","z":"927d0882.9d2848","name":"filler_data_3","props":[{"p":"device","v":"filler_3","vt":"str"},{"p":"payload"},{"p":"timestamp","v":"","vt":"date"},{"p":"IPaddress","v":"10.9.4.3","vt":"str"},{"p":"data","v":"($random() * 30) +20\t","vt":"jsonata"}],"repeat":"4","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"hearthbeat","payloadType":"msg","x":400,"y":440,"wires":[["1d8ad839.82af58"]]},{"id":"bb556eaa.53c668","type":"inject","z":"927d0882.9d2848","name":"filler_data_4","props":[{"p":"device","v":"filler_4","vt":"str"},{"p":"payload"},{"p":"timestamp","v":"","vt":"date"},{"p":"IPaddress","v":"10.9.4.4","vt":"str"},{"p":"data","v":"($random() * 30) +20\t","vt":"jsonata"}],"repeat":"4","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"hearthbeat","payloadType":"msg","x":400,"y":480,"wires":[["1d8ad839.82af58"]]},{"id":"b62e3215.3931f8","type":"websocket-client","path":"ws://masternode.showcase","tls":"","wholemsg":"true"}]