files/labeler-flows.json
[{"id":"89329512.9eabb8","type":"tab","label":"labeler","disabled":false,"info":""},{"id":"d5c9e859.5684a","type":"websocket out","z":"89329512.9eabb8","name":"","server":"","client":"b62e3215.3931f8","x":790,"y":400,"wires":[]},{"id":"82d739a0.a6b548","type":"inject","z":"89329512.9eabb8","name":"labeler_data_1","props":[{"p":"device","v":"labeler_1","vt":"str"},{"p":"payload"},{"p":"timestamp","v":"","vt":"date"},{"p":"IPaddress","v":"10.9.7.1","vt":"str"},{"p":"data","v":"($random() * 30) + 20","vt":"jsonata"}],"repeat":"4","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"hearthbeat","payloadType":"msg","x":420,"y":240,"wires":[["d5c9e859.5684a"]]},{"id":"9c44acf6.f90fd8","type":"inject","z":"89329512.9eabb8","name":"labeler_data_2","props":[{"p":"device","v":"labeler_2","vt":"str"},{"p":"payload"},{"p":"timestamp","v":"","vt":"date"},{"p":"IPaddress","v":"10.9.7.2","vt":"str"},{"p":"data","v":"($random() * 30) +20\t","vt":"jsonata"}],"repeat":"4","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"hearthbeat","payloadType":"msg","x":420,"y":280,"wires":[["d5c9e859.5684a"]]},{"id":"32aa84c0.70b474","type":"inject","z":"89329512.9eabb8","name":"labeler_data_3","props":[{"p":"device","v":"labeler_3","vt":"str"},{"p":"payload"},{"p":"timestamp","v":"","vt":"date"},{"p":"IPaddress","v":"10.9.7.3","vt":"str"},{"p":"data","v":"($random() * 30) +20\t","vt":"jsonata"}],"repeat":"4","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"hearthbeat","payloadType":"msg","x":420,"y":320,"wires":[["d5c9e859.5684a"]]},{"id":"94ef73d1.775f7","type":"inject","z":"89329512.9eabb8","name":"labeler_data_4","props":[{"p":"device","v":"labeler_4","vt":"str"},{"p":"payload"},{"p":"timestamp","v":"","vt":"date"},{"p":"IPaddress","v":"10.9.7.4","vt":"str"},{"p":"data","v":"($random() * 30) +20\t","vt":"jsonata"}],"repeat":"4","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"hearthbeat","payloadType":"msg","x":420,"y":360,"wires":[["d5c9e859.5684a"]]},{"id":"3c174eb9.afac6a","type":"inject","z":"89329512.9eabb8","name":"filler_data_1","props":[{"p":"device","v":"filler_1","vt":"str"},{"p":"payload"},{"p":"timestamp","v":"","vt":"date"},{"p":"IPaddress","v":"10.9.4.1","vt":"str"},{"p":"data","v":"($random() * 30) + 20","vt":"jsonata"}],"repeat":"4","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"hearthbeat","payloadType":"msg","x":420,"y":480,"wires":[["d5c9e859.5684a"]]},{"id":"d418fe0a.a698b","type":"inject","z":"89329512.9eabb8","name":"filler_data_2","props":[{"p":"device","v":"filler_2","vt":"str"},{"p":"payload"},{"p":"timestamp","v":"","vt":"date"},{"p":"IPaddress","v":"10.9.4.2","vt":"str"},{"p":"data","v":"($random() * 30) +20\t","vt":"jsonata"}],"repeat":"4","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"hearthbeat","payloadType":"msg","x":420,"y":520,"wires":[["d5c9e859.5684a"]]},{"id":"f88662f1.3bf8b","type":"inject","z":"89329512.9eabb8","name":"filler_data_3","props":[{"p":"device","v":"filler_3","vt":"str"},{"p":"payload"},{"p":"timestamp","v":"","vt":"date"},{"p":"IPaddress","v":"10.9.4.3","vt":"str"},{"p":"data","v":"($random() * 30) +20\t","vt":"jsonata"}],"repeat":"4","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"hearthbeat","payloadType":"msg","x":420,"y":560,"wires":[["d5c9e859.5684a"]]},{"id":"2bd75fdb.4e4268","type":"inject","z":"89329512.9eabb8","name":"filler_data_4","props":[{"p":"device","v":"filler_4","vt":"str"},{"p":"payload"},{"p":"timestamp","v":"","vt":"date"},{"p":"IPaddress","v":"10.9.4.4","vt":"str"},{"p":"data","v":"($random() * 30) +20\t","vt":"jsonata"}],"repeat":"4","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"hearthbeat","payloadType":"msg","x":420,"y":600,"wires":[["d5c9e859.5684a"]]},{"id":"b62e3215.3931f8","type":"websocket-client","path":"ws://masternode.showcase","tls":"","wholemsg":"true"}]