files/labeler-flows.json
[{"id":"9630570d.4a4ae","type":"tab","label":"LABELER","disabled":false,"info":""},{"id":"a423d787.0de508","type":"websocket out","z":"9630570d.4a4ae","name":"","server":"","client":"b62e3215.3931f8","x":790,"y":400,"wires":[]},{"id":"c3e6fde7.21d9b8","type":"inject","z":"9630570d.4a4ae","name":"labeler_data_1","props":[{"p":"device","v":"labeler_1","vt":"str"},{"p":"payload"},{"p":"timestamp","v":"","vt":"date"},{"p":"IPaddress","v":"10.9.7.1","vt":"str"},{"p":"data","v":"($random() * 30) + 20","vt":"jsonata"}],"repeat":"4","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"hearthbeat","payloadType":"msg","x":440,"y":320,"wires":[["a423d787.0de508"]]},{"id":"e4bba55b.f42d","type":"inject","z":"9630570d.4a4ae","name":"labeler_data_2","props":[{"p":"device","v":"labeler_2","vt":"str"},{"p":"payload"},{"p":"timestamp","v":"","vt":"date"},{"p":"IPaddress","v":"10.9.7.2","vt":"str"},{"p":"data","v":"($random() * 30) +20\t","vt":"jsonata"}],"repeat":"4","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"hearthbeat","payloadType":"msg","x":440,"y":360,"wires":[["a423d787.0de508"]]},{"id":"f61ad2f5.1d7a08","type":"inject","z":"9630570d.4a4ae","name":"labeler_data_3","props":[{"p":"device","v":"labeler_3","vt":"str"},{"p":"payload"},{"p":"timestamp","v":"","vt":"date"},{"p":"IPaddress","v":"10.9.7.3","vt":"str"},{"p":"data","v":"($random() * 30) +20\t","vt":"jsonata"}],"repeat":"4","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"hearthbeat","payloadType":"msg","x":440,"y":400,"wires":[["a423d787.0de508"]]},{"id":"7e3f445f.658fa4","type":"inject","z":"9630570d.4a4ae","name":"labeler_data_4","props":[{"p":"device","v":"labeler_4","vt":"str"},{"p":"payload"},{"p":"timestamp","v":"","vt":"date"},{"p":"IPaddress","v":"10.9.7.4","vt":"str"},{"p":"data","v":"($random() * 30) +20\t","vt":"jsonata"}],"repeat":"4","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"hearthbeat","payloadType":"msg","x":440,"y":440,"wires":[["a423d787.0de508"]]},{"id":"b62e3215.3931f8","type":"websocket-client","path":"ws://masternode.showcase","tls":"","wholemsg":"true"}]