charts/node-red-3d-dashboard/files/flows_worker.json
[{"id":"89329512.9eabb8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"27a0d38a.88afac","type":"inject","z":"89329512.9eabb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"8","crontab":"","once":true,"onceDelay":"1","topic":"MACHINE1","payload":"10","payloadType":"num","x":310,"y":560,"wires":[["d5c9e859.5684a"]]},{"id":"d5c9e859.5684a","type":"websocket out","z":"89329512.9eabb8","name":"","server":"","client":"b62e3215.3931f8","x":790,"y":420,"wires":[]},{"id":"ab1f98b.bb8ac68","type":"inject","z":"89329512.9eabb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"MACHINE1","payload":"80","payloadType":"num","x":320,"y":640,"wires":[["d5c9e859.5684a"]]},{"id":"8bc1100.542ecf","type":"inject","z":"89329512.9eabb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":"1","topic":"MACHINE2","payload":"30","payloadType":"num","x":270,"y":320,"wires":[["d5c9e859.5684a"]]},{"id":"d8770f49.4bc438","type":"inject","z":"89329512.9eabb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"6","crontab":"","once":true,"onceDelay":"1","topic":"MACHINE2","payload":"70","payloadType":"num","x":290,"y":240,"wires":[["d5c9e859.5684a"]]},{"id":"6911fc4f.45f914","type":"inject","z":"89329512.9eabb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":true,"onceDelay":"1","topic":"MACHINE2","payload":"50","payloadType":"num","x":310,"y":160,"wires":[["d5c9e859.5684a"]]},{"id":"82d739a0.a6b548","type":"inject","z":"89329512.9eabb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":true,"onceDelay":"1","topic":"MACHINE3","payload":"25","payloadType":"num","x":600,"y":80,"wires":[["d5c9e859.5684a"]]},{"id":"1cd60b.a32a19f5","type":"inject","z":"89329512.9eabb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"6","crontab":"","once":true,"onceDelay":"1","topic":"MACHINE3","payload":"60","payloadType":"num","x":610,"y":160,"wires":[["d5c9e859.5684a"]]},{"id":"b62e3215.3931f8","type":"websocket-client","path":"ws://masternode.albert","tls":"","wholemsg":"true"}]