charts/node-red-3d-dashboard/files/flows_worker.json
[{"id":"89329512.9eabb8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"27a0d38a.88afac","type":"inject","z":"89329512.9eabb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"8","crontab":"","once":true,"onceDelay":"1","topic":"MACHINE1","payload":"10","payloadType":"num","x":310,"y":560,"wires":[[]]},{"id":"ab1f98b.bb8ac68","type":"inject","z":"89329512.9eabb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"MACHINE1","payload":"80","payloadType":"num","x":320,"y":640,"wires":[["18f57a61.dda486"]]},{"id":"8bc1100.542ecf","type":"inject","z":"89329512.9eabb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":"1","topic":"MACHINE2","payload":"30","payloadType":"num","x":270,"y":320,"wires":[[]]},{"id":"d8770f49.4bc438","type":"inject","z":"89329512.9eabb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"6","crontab":"","once":true,"onceDelay":"1","topic":"MACHINE2","payload":"70","payloadType":"num","x":290,"y":240,"wires":[[]]},{"id":"6911fc4f.45f914","type":"inject","z":"89329512.9eabb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":true,"onceDelay":"1","topic":"MACHINE2","payload":"50","payloadType":"num","x":310,"y":160,"wires":[[]]},{"id":"82d739a0.a6b548","type":"inject","z":"89329512.9eabb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":true,"onceDelay":"1","topic":"MACHINE3","payload":"25","payloadType":"num","x":600,"y":80,"wires":[[]]},{"id":"1cd60b.a32a19f5","type":"inject","z":"89329512.9eabb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"6","crontab":"","once":true,"onceDelay":"1","topic":"MACHINE3","payload":"60","payloadType":"num","x":610,"y":160,"wires":[[]]},{"id":"952be42.3621598","type":"websocket in","z":"89329512.9eabb8","name":"","server":"f804ec00.aed1b","client":"","x":550,"y":520,"wires":[["18f57a61.dda486"]]},{"id":"7266ef41.7c265","type":"websocket out","z":"89329512.9eabb8","name":"","server":"72aaa4bf.a7074c","client":"","x":1030,"y":600,"wires":[]},{"id":"18f57a61.dda486","type":"function","z":"89329512.9eabb8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":600,"wires":[["7266ef41.7c265"]]},{"id":"f804ec00.aed1b","type":"websocket-listener","path":"/ws/receiveMessage","wholemsg":"false"},{"id":"72aaa4bf.a7074c","type":"websocket-listener","path":"/ws/publishMessage","wholemsg":"false"}]